:root {
  --background-body: hsl(0, 0%, 85%);
  --background-app: hsl(0, 0%, 100%);
  --font-color: hsl(0, 0%, 21%);
  --accent-color: hsl(183, 31%, 34%);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: var(--background-body);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
}

main {
  background-color: var(--background-app);
  width: 60vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px var(--accent-color);
}

h2 {
  color: var(--accent-color);
  margin-top: 1em;
}

form {
  margin-top: 1em;
}

input[type="text"] {
  margin-top: 0.5em;
  margin-bottom: 1em;
  border: solid 1px var(--accent-color);
  border-radius: 4px;
  outline: none;
}

input[type="button"] {
  margin-bottom: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

input[type="button"] {
  background-color: var(--background-body);
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
}

input[type="button"]:hover {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--background-app);
}

main p {
  color: var(--accent-color);
  margin-bottom: 1em;
}

footer {
  margin-top: 1em;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

footer a:hover {
  color: var(--font-color);
  cursor: pointer;
}

a:visited {
  color: var(--accent-color);
  text-decoration: none;
}
